*~
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
cscope.out
.DS_Store
/depcomp
.deps
.dirstamp
*.dSYM
/generate.pl
/install-sh
.libs
/libspectrum.h
/libspectrum.pc
/libspectrum.la
/libspectrum.qpg
/libtool
*.lo
/ltmain.sh
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/Makefile
/Makefile.in
/make-perl
/make-perl.exe
/missing
/mkinstalldirs
*.o
*.orig
*.rej
/snap_accessors.c
/stamp-h
/stamp-h1
/stamp-h.in
*.swp
/tags
/tape_accessors.c
/tape_set.c
/test-driver
/test-suite.log
/test/complete-tzx.tzx
/test/test
/test/test.exe
/test/test.log
/test/test.trs
.vscode
