*~
*.swp
*.orig
.DS_Store
.vscode
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/cscope.out
/data/fuse.desktop
/data/fuse.xml
/data/shell-completion/bash.txt
/data/shell-completion/man.txt
/data/shell-completion/settings.txt
/data/win32/fuse.manifest
/data/win32/installer.nsi
/debugger/commandl.c
/debugger/commandy.c
/debugger/commandy.h
/depcomp
.deps
.dirstamp
/fuse
/fuse.dSYM
/fuse.exe
/.gdb_history
/install-sh
.libs
/lib/*.szx
/lib/tests/fatware-success.hdf
/lib/tests/idedos-success.hdf
/lib/tests/success.d80
/lib/tests/success.mgt
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/Makefile
/Makefile.in
/missing
/mkinstalldirs
*.o
/options.h
/roms/128p-0.rom
/roms/128p-1.rom
/roms/256s-0.rom
/roms/256s-1.rom
/roms/256s-2.rom
/roms/256s-3.rom
/roms/didaktik80.rom
/roms/gluck.rom
/roms/if1-2.rom
/roms/opus.rom
/roms/trdos.rom
/roms/usource.rom
/settings.c
/settings.h
/stamp-h
/stamp-h1
/stamp-h.in
tags
/ui/fb/keysyms.c
/ui/gtk/keysyms.c
/ui/gtk/menu_data.c
/ui/gtk/menu_data.ui
/ui/gtk/options.c
/ui/gtk/options.h
/ui/gtk/options_internals.h
/ui/null/options.c
/ui/sdl/keysyms.c
/ui/svga/keysyms.c
/ui/widget/fuse.font
/ui/widget/menu_data.c
/ui/widget/options.c
/ui/widget/options.h
/ui/widget/options_internals.h
/ui/wii/keysyms.c
/ui/win32/keysyms.c
/ui/win32/menu_data.c
/ui/win32/menu_data.h
/ui/win32/menu_data.rc
/ui/win32/options.c
/ui/win32/options_internals.h
/ui/win32/options.rc
/ui/xlib/keysyms.c
/ui/xlib/xpixmaps.c
/ylwrap
/z80/coretest
/z80/coretest.exe
/z80/coretest.out
/z80/opcodes_base.c
/z80/tests.actual
/z80/z80_cb.c
/z80/z80_ddfd.c
/z80/z80_ddfdcb.c
/z80/z80_ed.c
